@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --red-definition: rgba(102, 0, 0, 1);
  --red-definition-text: rgba(102, 0, 0, 1);
  --example: rgba(15, 98, 146, 1);
  --example-text: rgba(15, 98, 146, 1);
  --example-bkg: rgba(186, 210, 224, 0.1);
  --try-it-now: rgba(227, 139, 41, 1);
  --try-it-now-text: rgb(184, 114, 33);
  --try-it-now-bkg: rgba(225, 175, 118, 0.1);
  --grey-bkg: rgba(93, 93, 93, .05);
  --blue: rgba(26, 97, 143, 1);
  --black: rgba(15, 15,15, 1);
}

/* Font Styles */

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
  color: rgba(30, 30, 30,1);
}

h1 { 
  font-size: 2rem;
  margin: 0 4rem 1rem 4rem;
}

.ereader-display h1 {
  background-color: var(--grey-bkg);
  padding: 40px;
  border-bottom: 2px solid var(--blue)
}

h2 {  
  font-size: 1.602rem;
  margin: 0 4rem .5rem 4rem;
  font-weight: 400;
}

h3 {  
  font-size: 1.324rem;
  margin: 0 4rem .3rem 4rem;
  font-weight: 400;
}

h4 {  
  font-size: 1.2rem;
  margin: 0 4rem .5rem 4rem;
  font-weight: 400;
}

h5 {  
  font-size: 1rem;
  margin: 0 4rem .5rem 4rem;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
  margin: 0 4rem 1rem 4rem;
}

/* Formatting Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgba(255, 255, 255, 1);
}

body[darkmode] {
  background-color: rgba(20, 20, 20, 1);
}

body[darkmode] h1, body[darkmode] h2, body[darkmode] h3, body[darkmode] h4, body[darkmode] h5, body[darkmode] h6, body[darkmode] p, body[darkmode] ul, body[darkmode] ol {
  color: white;
  opacity: 87%;
}

#light-dark-mode {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: .25rem;
}

#light-dark-mode:hover {
  background-color: lightgray;
  cursor: pointer;
}

ul, ol {
  margin: 0 0 1rem 5rem;
}

ol > li > ul,
ol > li > ol,
ul > li > ol,
ul > li > ul  {
  margin: 0 0 1rem 1rem;
}

li {
  margin-bottom: .1225rem;
}

li p {
  margin-left: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

body[darkmode] a {
  color: white;
}

a {
  color: gray;
}

.ereader-display {
  max-width: 900px;
  margin: 0 auto;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  border-bottom: 1px solid rgba(13,13,13,.1);
  margin-bottom: 25px;
}

table {
  margin-left: 4rem;
}

img {
  max-width: 800px;
}

img.center {
  margin: 0.5rem auto !important;
  display:block;
}


hr {
  margin: 0 4rem 1rem 4rem;
}

/* Widgets */

/* Accordions */
.accordion {
  margin: 2rem 0;
  padding: 0;
}

.accordion button {
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: .5rem .75rem;
}

.accordion button:hover {
  cursor: pointer;
}

.accordion .accordion-content {
  padding: 1rem;
}

/* Border */
.border {
  background-color: rgba(15, 15, 15, .02);
  border-left: 6px solid darkgray;
  padding: .75rem .5rem .25rem 1.5rem;
  margin: 2rem 0;
}

.border h3 {
  margin: 2rem 4rem 0;
}

/* Definition */
.definition {
  background-color: rgba(168, 87, 87, .05);
  padding: 20px 0;
  margin: 2rem 0;
  border: 3px solid var(--red-definition);
}

.definition :is(h3,h4) {
  margin-bottom: 1rem;
  color: var(--red-definition-text);
}

.definition::before {
  font-family:"FontAwesome";
  content: '\f02d';
  opacity: 1;
  color: var(--red-definition);
  font-weight: 900;
  font-size: 1.5rem;
  display:inline-block;
  margin: 0rem 4rem .5rem;
}

/* Example */
.example {
  background-color: var(--example-bkg);
  padding: 20px 0;
  border: 3px solid var(--example);
  margin: 2rem 0;
}

.example-title {
  background-color: var(--example-bkg);
  margin: 1rem 3rem;
  padding: 1rem;
  border: 2px solid var(--example);
}

.example-title h3 {
  color: var(--example);
}

.example-title p, .example-title h1,.example-title h2, .example-title h3,.example-title h4 {
  margin-right: 0;
  margin-left: 0;
}

.example::before {
  font-family:"FontAwesome";
  content: '\f51c';
  opacity: 1;
  color: var(--example);
  font-weight: 900;
  font-size: 1.5rem;
  display:inline-block;
  margin: 0 4rem 1rem;
}

/* Plain Block */
.plainblock {
  margin: 15px;
  background-color: var(--grey-bkg);
  padding: 20px 0;
}

.plainblock::before {
    color: rgba(15, 15, 15, .25);
    content: "\f10d";
    display: block;
    font-family: "FontAwesome";
    font-size: 1em;
    font-weight: 400;
    opacity: 1;
    text-align: left;
    padding-left: 5%;
}

.plainblock::after {
  color: rgba(15, 15, 15, .25);
  content: "\f10e";
  display: block;
  font-family: "FontAwesome";
  font-size: 1em;
  font-weight: 400;
  opacity: 1;
  text-align: right;
  padding-right: 5%;
}

/* Side By Side */

/* Side By Side */

.width-400 {
  width: auto;
  max-width: 400px;
}

.side-by-side {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.side-by-side-item {
  flex-basis: 100%;
  margin: 10px 0;
  padding: 0;
}
.side-by-side-item :is(figure, img) {
  width: 100%;
  margin: 0 auto !important;
}
@media screen and (min-width: 730px) {
  .side-by-side-item {
    flex-basis: 49%;
    margin: 0;
 }
  .side-by-side-item :is(figure, img) {
    max-width: none;
    margin-left: auto !important;
 }

 .side-by-side-item.width-400 :is(figure, img) {
  width: auto;
  max-width: 400px;
}
}

/* Try It Now */

.tryitnow {
  background-color: var(--try-it-now-bkg);
  padding: 20px 0;
  border: 3px solid var(--try-it-now);
  margin: 2rem 0;
}

.tryitnow :is(h3,h4,h5) {
  color: var(--try-it-now-text);
}

.tryitnow::before {
  font-family:"FontAwesome";
  content: '\f545';
  opacity: 1;
  color: var(--try-it-now);
  font-weight: 900;
  font-size: 1.5rem;
  display:inline-block;
  margin: 0 4rem 1rem;
}

/* Toggling & Footnotes */

.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}

.toggle-footnotes {
  margin: 5px;
  text-decoration: none;
  padding:15px;
  font-size: 16px;
}

body .toggle-footnotes {
  background-color: rgba(13,13,13,.1);
}

body[darkmode] .toggle-footnotes {
  background-color: rgba(255,255,255,.1);
}

.toggle-btn-content,
.footnotes {
  background-color:white;
  border: 2px solid rgba(13,13,13,.1);
  max-height: 0px;
  -webkit-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -moz-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -ms-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -o-transition: max-height 2s cubic-bezier(0, 1, 0, 1); 
  transition: max-height 2.5s cubic-bezier(0, 1, 0, 1);  
  overflow: hidden;
}

.footnotes:not(.show) {
  padding: 0px 10px;
}

.show {
  padding: 0 10px;
  -webkit-transition: max-height 2s ease-in-out; 
  -moz-transition: max-height 2s ease-in-out; 
  -ms-transition: max-height 2s ease-in-out; 
  -o-transition: max-height 2s ease-in-out; 
  transition: max-height 2s ease-in-out;  
  max-height: 400px;
  overflow:scroll;
}

footer {
  grid-area: footer;
  text-align: center;
  margin-bottom: 40px;
}

.footnotes {
  text-align: left;
  background-color: transparent;
}

body[darkmode] .footnotes {
  border: 2px solid rgba(255,255,255,.1);
}

body .footnotes {
  border: 2px solid rgba(13,13,13,.1);
}

.footnotes > * {
  margin-top: .5rem;
}

a,
a:visited,
.toggle-footnotes {
  color: rgba(0, 91, 226, 1);
  text-decoration: underline;
}

a:hover,
a:active,
.toggle-footnotes:hover {
  color: rgba(0, 57, 143, 1);
  text-decoration: underline;
}

.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}