@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --red-definition: rgba(102, 0, 0, 1);
  --red-definition-text: rgba(102, 0, 0, 1);
  --example: rgba(15, 98, 146, 1);
  --example-text: rgba(15, 98, 146, 1);
  --example-bkg: rgba(186, 210, 224, 0.1);
  --try-it-now: rgba(227, 139, 41, 1);
  --try-it-now-text: rgb(184, 114, 33);
  --try-it-now-bkg: rgba(225, 175, 118, 0.1);
  --grey-bkg: rgba(93, 93, 93, .05);
  --blue: rgba(26, 97, 143, 1);
  --black: rgba(18, 18, 18, 1);
  --dark-layer-1: rgba(24, 24, 24, 1);
  --dark-layer-2: rgba(40, 40, 40, 1);
  --dark-layer-3: rgba(64, 64, 64, 1);
  --dark-layer-4: rgba(100, 100, 100, 1);
  --white-layer-1: rgba(179, 179, 179);
  --button-grey: rgba(211, 211, 211, 1);
  --button-dark-grey: rgba(199, 199, 199, 1);
  --white: rgba(255, 255, 255, 1);
}

/* Dark Theme Style changes */
@media (prefers-color-scheme: dark) {



}

/* Font Styles */

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
  color: rgba(30, 30, 30,1);
}

h1 {
  font-size: 1.8rem;
  margin: 3.13rem 1rem 0;
}

.ereader-display h1 {
  background-color: var(--grey-bkg);
  padding: 20px;
  border-bottom: 2px solid var(--blue)
}

h2 {  
  font-size: 1.602rem;
  margin: 3.13rem 1rem 0;
  font-weight: 400;
}

h2 + p {
  margin-top: .85rem;
}

h3 {  
  font-size: 1.324rem;
  margin: 2rem 4rem 1rem;
  font-weight: 400;
}

h4 {  
  font-size: 1.2rem;
  margin: 2rem 4rem 1rem;
  font-weight: 400;
}

h5 {  
  font-size: 1rem;
  margin: 2rem 4rem 1rem;
  font-weight: 400;
}

p {
  font-size: 1.11rem;
  line-height: 1.778rem;
  margin: 2rem 1rem 0 1.5rem;
}

:is(.definition,.example,.plainblock,.tryitnow) ul,ol {
  margin: 0 0 0 2.5rem;
}

ul, ol {
  margin: 0 0 1rem 4.5rem;
}

li :is(ul,ol) {
  margin: 0 !important;
}

li {
  font-size: 1.11rem;
  margin: 1rem 2rem 0 1.667rem;
}

li + :is(h1,h2,h3,h4,h5,p) {
  margin-top: 1.9rem;
}

li p {
  margin-left: .25rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

/* Scroll bar styles */

body[darkmode] {
  color-scheme: dark;
}

body {
  color-scheme: light;
}

/* Navigation Mobile */

#navigation {
  position:fixed;
  top:0;
  left:-100%;
  width: 100%;
  transition: .5s ease;
  height: 100%;
  z-index: 999;
  background-color: var(--white);
}

body[darkmode] #navigation {
  background-color: var(--dark-layer-1);
  transition: .5s ease;
}

/* remove scroll bar */
#navigation {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#navigation::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#navigation[expanded] {
  left: 0;
}

#navigation ul {
  margin: 0;
}

.page-controller {
  position: fixed;
  top: 0;
  left: 0;
  display:flex; 
  align-items: center;
  padding-left: 10px;
  transition: .5s ease;
  z-index: 999;
  width: 100%;
  background-color: var(--white);
}

body[darkmode] #navigation[expanded] .page-controller {
  background-color: var(--dark-layer-1);
}

body[darkmode] .page-controller {
  background-color: var(--black);
  transition: .5s ease;
}

/* Colors the math jacks items */
body[darkmode] .mjx-chtml {
  color: var(--white);
  opacity: 90%;
}

.mjx-chtml {
  color: var(--color-pcc-black);
  opacity: 1;
}

.MJXc-display {
  margin: 2rem 0;
}

.math-small {
  font-size: 16px !important;
  text-align: center;
}

.math-extra-small {
  font-size: 16px !important;
  text-align: center;
}

.text-center {
  text-align: center;
}

.fa-moon:before {
  display: inline-block;
  transform: rotate(0deg);
}

.icon-lrg {
  font-size: 1.5em;
}

.nav-toggle {
  transition: .542s ease;
  background-color:transparent;
  border:none;
  cursor:pointer;
}

body[darkmode] .nav-toggle {
  background-color: transparent;
}

body[darkmode] .nav-toggle #nav-icon span {
  background-color: var(--white);
}

.nav-toggle[open] #nav-icon span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.nav-toggle[open] #nav-icon span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-toggle[open] #nav-icon span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

nav ul{
  display:flex;
  flex-direction: column;
  /* margin-left: 1rem; */
  list-style-type: none;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  padding: 15px 0 15px 10px;
  display:block;
  font-size: 1rem;
}

nav {
  height: 100%;
  padding: 0 25px;
  padding-top: 70px;
  transition: .5s ease;
  overflow-y:auto;
  background-color: var(--white);
  color-scheme: light;

}

.darkmode-toggle {
  position:relative;
  display: inline;
  width: 5.5em; 
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  margin-left: 20px;
  z-index: 999;
  border: 1px solid rgba(18, 18, 18, .25);
  background-color: rgba(239, 239, 239, 1)
}

body[darkmode] .darkmode-toggle {
  background-color: var(--dark-layer-3);
}

.darkmode-toggle::before {
  position: absolute; content:'';
  width: 2em;
  height: 2em;
  top: 0.4em;
  left: 0.3em;
  border-radius: 50%;
  border: 1px solid rgba(18, 18, 18, .25);
  transition: 250ms ease-in-out;
  background: linear-gradient(var(--white) 10%, #eee);
  z-index: 999;
}

.fa-sun::before {
  color: var(--black);
  transition: .5s ease;
}

body[darkmode] .fa-sun::before {
  color: var(--white);
  transition: .5s ease;
}

body[darkmode] .darkmode-toggle::before {
  left: 2.75em;
  background: linear-gradient(var(--white-layer-1) 10%, var(--white-layer-1));
}

body[darkmode] nav {
  background-color: var(--dark-layer-1);
  color-scheme: dark;
}

body[darkmode] .chapter-btn {
  color:var(--white);
}

.light-dark-icons {
  display:flex;
  justify-content: space-around;
}

.activeUrl {
  font-weight: 700;
  border-left: 2px solid var(--black);
}

body[darkmode] .activeUrl {
  border-left: 2px solid rgba(255,255,255, 1);
}

#nav-icon {
  width: 50px;
  height: 46px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 25px;
  background: rgba(15,15,15,1);
  border-radius: 7px;
  opacity: 1;
  left: 12px;
  transition: .35s ease-in-out;
  transform: rotate(0deg);
}

#nav-icon span:nth-child(1) {
  top: 8px;
}

#nav-icon span:nth-child(2) {
  top: 20px;
}

#nav-icon span:nth-child(3) {
  top: 32px;
}

.nav-toggle[open] #nav-icon span:nth-child(2) {
  opacity: 0;
  left: 30px;
}

.chapter-btn {
    border: none;
    display: block;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    font-size: 1.25rem;
    transition: .5s ease;
    border-bottom: none;
    font-size: 1.324rem;
    margin: 0;
}

body[darkmode] nav .chapter-btn {
  border-top: 1px solid var(--white);
}

nav .chapter-btn {
  border-top: 1px solid rgba(18, 18, 18, .25);
  transition: .5s ease;

}

.chapter a {
  text-decoration: none;
  color: black;
}

.activeChapter {
  font-weight: 700;
}

/* Formatting Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgba(255, 255, 255, 1);
  transition: .5s ease;
}

body[darkmode] {
  background-color: var(--black);
}

body[darkmode] h1, body[darkmode] h2, body[darkmode] h3, body[darkmode] h4, body[darkmode] h5, body[darkmode] h6, body[darkmode] p, body[darkmode] ul, body[darkmode] ol {
  color: rgba(235,235,235,1);
  opacity: 90%;
}

#light-dark-mode {
  background-color: var(--white);
  border: 1px solid black;
  border-radius: 8px;
  padding: .25rem;
}

#light-dark-mode:hover {
  background-color: lightgray;
  cursor: pointer;
}

ol > li > ul,
ol > li > ol,
ul > li > ol,
ul > li > ul  {
  margin: 0 0 1rem 1rem;
}

body[darkmode] a {
  color: var(--white);
}

a {
  color: gray;
}

.ereader-display {
  max-width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 70px;
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(13,13,13,.1);
  margin-bottom: 25px;
}

table {
  color: var(--black);
  opacity: 1;
  margin: 2rem auto;
  table-layout: fixed;
  width: 80%;
}

body[darkmode] :is(table, th, td) {
  border: 2px solid var(--dark-layer-3);
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.not-fixed {
  table-layout: auto;
}

table.small-text p {
  font-size: 1rem;
}

td {
  padding: 3px;
  text-align: center;
}

td p {
  margin: auto;
  text-align: center;
}

tr:hover {
  background-color: var(--button-grey);
  transition: .25s;
  cursor: default;
}

body[darkmode] tr:hover {
  background-color: var(--white-layer-1);
  color: var(--black);
}

body[darkmode] tr:hover p {
  color: var(--black);
}

table.cell-hover td:hover {
  background-color: var(--button-grey);
  transition: .25s;
  cursor: default;
}

body[darkmode] table.cell-hover td:hover {
  background-color: var(--dark-layer-4);
  transition: .25s;
  cursor: default;
}

table.cell-hover tr:hover {
  background-color: transparent;
}

  body[darkmode] table.cell-hover tr:hover p {
    color: var(--white);
  }

body[darkmode] table {
  color: var(--white);
  opacity: 90%;
}

figure {
  text-align: center;
}

img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 85%;
  margin: 56px auto 2rem;
  background-color: var(--white);
}

img.center {
  margin: 0.5rem auto !important;
  display:block;
}
body[darkmode] hr {
  background-color: rgba(255,255,255,.1);

}

hr {
  margin: 1rem 4rem 0 4rem;
  height: 3px;
  border: none;
  background-color: rgba(15,15,15,.1);
}

h3.chapter-heading {
  margin-bottom: 1rem;
}

nav::before {
  content: "";
  background-image: url(../assets/logos/pcc-black.png);
  height: 50px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 20px 0;
  opacity: 1;
}

a.chapter-btn {
  text-decoration: none;
  padding-bottom: 20px;
}

body[darkmode] nav::before {
  background-image: url(../assets/logos/pcc-white.png);
  opacity: .8;
}

body[darkmode] nav>ul {
  border-bottom: 1px solid white;
}

/* Widgets */

/* Accordions */
.accordion {
  margin: 2rem 0;
  padding: 0;
}

.accordion button {
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: .5rem .75rem;
}

.accordion button:hover {
  cursor: pointer;
}

.accordion .accordion-content {
  padding: 1rem;
}

/* Border */
.border {
  background-color: rgba(15, 15, 15, .02);
  border-left: 6px solid darkgray;
  margin: 1rem;
}

/* Definition */
.definition {
  background-color: rgba(168, 87, 87, .05);
  margin: 1rem;
  border: 3px solid var(--red-definition);
}

.definition h3 {
  color: var(--red-definition-text);
}

/* Example */
.example {
  background-color: var(--example-bkg);
  border: 3px solid var(--example);
  margin: 1rem;
}

.example h3 {
  color: var(--example);
}

:is(.example,.definition,.tryitnow,.border,.plainblock) {
  padding: 1rem 0 0;
}

:is(.example,.definition,.tryitnow,.border,.plainblock) :is(h4,h3,h2) {
  margin: 1rem 2rem 2rem 1.5rem;
}

:is(.example,.definition,.tryitnow,.border,.plainblock) p {
  margin: 2rem 2rem 2rem 2rem;
}

:is(.example,.definition,.tryitnow,.border,.plainblock) hr {
  margin: 1rem 2rem 1rem 2rem;
  color: var(--example);
}

/* Figures  & Figcaptions */
figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

:is(figure) figcaption,
.caption {
  color: #666666;
  font-size: 0.85em;
  font-style: italic;
  padding: 0 0 5px 0;
  opacity: 1;
}

body[darkmode] figcaption {
  color: white;
  opacity: 90%;
}

/* Plain Block */
.plainblock {
  margin: 1rem;
  background-color: var(--grey-bkg);
  padding: 20px 0;
}

body[darkmode] .plainblock {
  color: var(--white);
  opacity: 90%;
  background-color: var(--dark-layer-2);
}

/* Side By Side */


.side-by-side {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

.side-by-side-item {
  flex-basis: 100%;
  margin: 1rem;
  padding: 0;
}

.side-by-side-item.image {
  display: flex;
  justify-content: center;
}

.side-by-side-item p {
  margin: 1rem;
}

.side-by-side-item :is(figure, img) {
  width: 50%;
  margin: 0 .5rem !important;
}

@media screen and (min-width: 730px) {
  .side-by-side-item {
    flex-basis: 49%;
    margin: 0;
  }

  .side-by-side :is(figure, img) {
    max-width: none;
    width: 80%
  }
}

.width-400 {
  width: auto;
  max-width: 400px;
}

/* Try It Now */

.tryitnow {
  background-color: var(--try-it-now-bkg);
  padding: 20px 0;
  border: 3px solid var(--try-it-now);
  margin: 1rem;
}

.tryitnow :is(h3,h4,h5) {
  color: var(--try-it-now-text);
}

/* Toggling & Footnotes */

.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}

.toggle-footnotes {
  margin: 5px;
  text-decoration: none;
  padding:15px;
  font-size: 16px;
}

body .toggle-footnotes {
  background-color: rgba(13,13,13,.1);
}

body[darkmode] .toggle-footnotes {
  background-color: rgba(255,255,255,.1);
  color: var(--white);
}

.toggle-btn-content,
.footnotes {
  background-color:var(--white);
  border: 2px solid rgba(13,13,13,.1);
  max-height: 0px;
  -webkit-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -moz-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -ms-transition: max-height 2.5s cubic-bezier(0, 1, 0, 1); 
  -o-transition: max-height 2s cubic-bezier(0, 1, 0, 1); 
  transition: max-height 2.5s cubic-bezier(0, 1, 0, 1);  
  overflow: hidden;
}

.footnotes:not(.show) {
  padding: 0px 10px;
}

.show {
  padding: 0 10px;
  -webkit-transition: max-height 2s ease-in-out; 
  -moz-transition: max-height 2s ease-in-out; 
  -ms-transition: max-height 2s ease-in-out; 
  -o-transition: max-height 2s ease-in-out; 
  transition: max-height 2s ease-in-out;  
  max-height: 400px;
  overflow:scroll;
}

footer {
  grid-area: footer;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 2rem;
}

.footnotes {
  text-align: left;
  background-color: transparent;
}

body[darkmode] .footnotes {
  border: 2px solid rgba(255,255,255,.1);
}

body .footnotes {
  border: 2px solid rgba(13,13,13,.1);
}

.footnotes > * {
  margin-top: .5rem;
}

a,
a:visited,
.toggle-footnotes {
  color: rgba(0, 91, 226, 1);
  text-decoration: underline;
}

a:visited {
  color:black;
}

a:hover,
a:active,
.toggle-footnotes:hover {
  color: rgba(0, 57, 143, 1);
  text-decoration: underline;
}

.toggle-btn:hover,
.toggle-footnotes:hover {
  cursor: pointer;
  text-decoration: none;
}

/* Accordion Styles */
dl.accordion {
	margin: 25px;
}

dl.accordion dt {
  background-color: var(--color-bkg);
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 5px 0px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
dl.accordion dt:hover {
  background-color: var(--color-quarternary);
}

/* Style the accordion panel. Note: hidden by default */
dl.accordion dd {
  padding: 15px 20px 20px;
  display: none;
  border-style: inset;
  overflow: hidden;
  border: 1px solid rgba(15, 15, 15, .05);
  margin-top: -5px;
  border-top:none;
}

dl.accordion dt:after {
font-family: "Font Awesome";
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  opacity: 1;
}

dl.accordion dt.active:after {
  font-family: "Font Awesome";
  opacity: 1;
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.js-expandmore {
  background-color: rgba(232, 122, 0, 1);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgb(164 166 173);
  color: rgba(255, 255, 255, 1);
  font-size: .8rem;
  font-weight: bold;
  height: 40px;
  letter-spacing: 2px;
  padding: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

:is(h5,h4).js-expandmore {
  color: var(--color-pcc-black);
  display: block;
  width: fit-content;
  background-color: var(--button-grey);
  margin: 0.5rem 2rem 0.5rem 1rem;
}

:is(h5,h4).js-expandmore:hover {
  color: var(--color-pcc-black);
  background-color: var(--button-dark-grey);
  transition: .5s;
}

body[darkmode] :is(h5,h4).js-expandmore {
  color: var(--white);
  background-color: var(--dark-layer-3);
}

body[darkmode] :is(h5,h4).js-expandmore:hover {
  color: var(--white);
  background-color: var(--dark-layer-3);
}

.js-to-expand {
  display:none;
}

.js-to-expand[show] {
 display:block;
}

.js-to-expand[show] .exerciseanswer {
  background-color: var(--grey-bkg);
  border: 2px solid var(--button-dark-grey);
  padding: 1rem 2rem;
}

body[darkmode] .js-to-expand[show] .exerciseanswer {
  background-color: var(--dark-layer-2);
}

:is(.definition,.example,.plainblock,.tryitnow) :is(ul,ol) {
  margin: 0 0 0 2.5rem;
}

@media screen and (min-width: 730px) {

  h1 {
    font-size: 2rem;
    margin: 0 2rem 1rem 2rem;
  }
  
  h2 {  
    margin: 0 2rem .5rem 2rem;
  }
  
  h3 {  
    margin: 0 2rem .3rem 2rem;
  }
  
  h4 {  
    margin: 0 2rem .5rem 2rem;
  }
  
  h5 {  
    margin: 0 2rem .5rem 2rem;
  }

  p {
    margin: 0 2rem 1rem 2.5rem;
  }
  
  ul, ol {
    margin: 0 0 1rem 2rem;
  }
}

/* Text spacing Media Query */

@media screen and (min-width: 800px) {

    h1 {
      font-size: 2rem;
      margin: 3.13rem 4rem 0rem 4rem;
    }
    
    .ereader-display h1 {
      background-color: var(--grey-bkg);
      padding: 40px;
      border-bottom: 2px solid var(--blue)
    }
    
    h2 {  
      font-size: 1.602rem;
      margin: 3.13rem 4rem 0 4rem;
      font-weight: 400;
    }
    
    h3 {  
      font-size: 1.324rem;
      margin: 2rem 4rem 0 4rem;
      font-weight: 400;
    }
    
    h4 {  
      font-size: 1.2rem;
      margin: 2rem 4rem 0 4rem;
      font-weight: 400;
    }
    
    h5 {  
      font-size: 1rem;
      margin: 2rem 4rem 0 4rem;
      font-weight: 400;
    }
    
    p {
      font-size: 1.25rem;
      line-height: 1.778rem;
      margin: 2rem 4rem 0 4.5rem;
    }

    ul, ol {
      margin: 0 0 1rem 5rem;
    }

    :is(.definition,.example,.plainblock,.tryitnow) :is(ul,ol) {
      margin: 0 0 2rem 2.5rem;
    }

    .example {
      margin: 2rem 4rem;
    }

    .tryitnow {
      margin: 2rem 4rem;
    }

    .border {
      margin: 2rem 4rem;
    }

    .definition {
      margin: 2rem 4rem;
    }

    .plainblock {
      margin: 2rem 4rem;
    }

    .tryitnow h5.js-expandmore {
      margin: 0.5rem 2rem 0.5rem 2rem;
    }
}

/* Navigation Desktop*/
@media screen and (min-width: 1024px) {

  nav::before {
    margin: 0;
    padding: 0;
  }

  #navigation {
    width: fit-content;
    padding-top: 50px;
    left: -100%;
    box-shadow: 0 0 5px #666;
  } 

  #navigation[darkmode] {
    width: fit-content;
    padding-top: 50px;
    background-color: var(--dark-layer-1);
  } 

  nav {
    padding-top: 20px;
  }

  .page-controller {
    background-color: var(--white);
    width: fit-content;
  }

  body[darkmode] .page-controller {
    background-color: var(--black);
    width: fit-content;
  }
  
  .nav-toggle[open] {
    transition: .5s ease;
    z-index:999;
  }
  
  .darkmode-toggle::before {
    top: 0.3em;
  }
  
  .nav-toggle[open] #nav-icon span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }
  
  .nav-toggle[open] #nav-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  .nav-toggle[open] #nav-icon span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }
  
  .chapter-btn {
      padding-bottom: 5px;
  }
  
  .chapter-btn + ul {
    margin-bottom: 0;
    margin-left: 0;
  }

}

@media print {
  .no-print {
    display:none;
  }

  .js-to-expand {
    display:block;
  }

  .exerciseanswer {
    background-color: var(--grey-bkg);
    border: 2px solid var(--button-dark-grey);
    padding: 1rem 2rem;
  }
}