<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <title>Example tabs</title>
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" type="text/css" href="/shared/webdev/course-files/css/themes/cards/styles.css">       
<link rel="stylesheet" type="text/css" href="/shared/Templates/Template_Cards/css/custom.css">
<link rel="stylesheet" href="../../MAT142.css" type="text/css" />


</head>
<body id="one-column" style="overflow-y: hidden;">
	<header class="header"><img src="../../Images/dot-grid.png" alt="decorative image of graph" />
		<div class="text-container">
			<h1>Header with H1 to go over image</h1>
		</div>
	</header>
	<div id="content-wrapper">
		<div class="content-body">
			<h2>H2 Header: Learning Objectives</h2>
			<p>List objectives</p>
			<hr />
		</div>
		<div class="content-body">
			<h2>First Content Area</h2>
			
			<p>Some Content</p>
			
			<div class="definition">
				<h4>H4 Header: Title</h4>
				<p>text for definition</p>
			</div>
			
			<p>more text between</p>
			
<div class="Example">
  <div class="ExampleTitle">
	<h3>H3 Header: Example 1</h3>  
      <p>Example text</p>
</div>
	<p>Example body</p>
	<p>Example body</p>
	<p>Example body</p>
</div>	
			
			<p>Text between</p>

<ol type="a">
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
</ol>

<table class="display-lg" bgcolor="#FFFFFF">
<thead>
<tr>
<th scope="col"></th>
<th scope="col"></th>
</tr>
</thead>
<tbody>	
    <tr>    
    <td></td> 
    <td></td> 
    </tr>    
</tbody>
</table>            
            
<div class="tryitnow">
  	<h5>Try it Now 1</h5>
	<p>The text for TryIt Now</p>
				
	<h5 class="js-expandmore">Hint 1</h5> 
    <div class="js-to_expand">
	<p>Hint 1 Content</p>
	</div>
   	
	<h5 class="js-expandmore">Hint 2</h5> 
    <div class="js-to_expand">
	<p>Hint 2 Content</p>
	</div>
	
	<h5 class="js-expandmore">Answer</h5> 
    <div class="js-to_expand">
	<p>Answer Content</p>
	</div>		
</div>
		
<div class="content-body">
	<h2>Homework Exercises</h2>
	<ol>
        <li>First Problem
	        <h5 class="js-expandmore">Answer</h5> 
	        <div class="js-to_expand">
	            <div class="exerciseanswer">
                    <p>ANSWER</p>
	            </div>	
	        </div>
        </li> 
        <li>Second Problem
	        <h5 class="js-expandmore">Answer</h5> 
	        <div class="js-to_expand">
	            <div class="exerciseanswer">
<ol type="a">
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
    <li><p></p></li>
</ol>
	            </div>	
	        </div>
        </li>         
	</ol>
</div>
		
		
	</div>
	<footer>
  		<div id="footer">
			<p class="text-center toggle-footnotes">[Show Footnotes]</p>
			<div class="footnotes">
      			<h2>Attribution:</h2>
				  <p>This page contains modified content by David Lippman Math in Society, <a class="ext" href="http://www.opentextbookstore.com/mathinsociety/index.html" target="_blank" rel="noopener">“Math In Society, 2nd Edition”</a></p>
				  <p>This page contains content by Robert Foth, Math Faculty, Pima Community College, 2021.</p>
    		</div>
  		</div>
</footer>
	</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/shared/webdev/course-files/js/scripts.js"></script>
<script type="text/javascript" src="../../custom.js"></script>
<script type="text/javascript" src="../../jquery-accessible-hide-show-aria.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async=""></script>
</body>	
</html>